/* Ensure the canvas fills the screen */
body {
    margin: 0;
    overflow: hidden;
    background-image: url('Tifa.jpg'); /* Đường dẫn đến hình nền */
    background-size: cover; /* Phóng to hình nền để bao phủ toàn bộ màn hình */
    background-repeat: no-repeat; /* Không lặp lại hình nền */
    background-position: center; /* Đặt hình nền ở giữa màn hình */
}
